<div id="name">Online Vulnerability Manager</div>

<nav>
	<ul>
		<li> <a href="">Partners</a></li>
		<li> <a href="">Pricing</a></li>
		<li> <a href="">FAQ</a></li>
		<li> <a href="">About us</a></li>		
	</ul>
</nav>

<div id="login">
	<a href="/home">Login</a></li>
	<a href="">Register</a></li>
</div>


<div id="overview">
	<p>Overview</p>
	<p>Features</p>
	<p>Screenshots<p>
</div>



